# Variables d'environnement optionnelles pour Stop-Carburant

# Port d'écoute du serveur de développement (par défaut 3000)
PORT=3000

# Désactiver le HMR (Hot Module Replacement) si nécessaire (true/false)
DISABLE_HMR=false
